/* Адаптация для шапки сайта */
@media (max-width: 980px) {
    header .header-container {
        padding: 30px 50px;
    }

    header .header-container .booking {
        padding: 10px 15px;
    }

    header .header-container .booking span {
        font-size: 12px;
    }
}

@media (max-width: 780px) {
    header .header-container .number {
        display: none;
    }

    header .header-container .booking {
        display: none;
    }
}

/* Адаптация для hero меню */
@media (max-width: 1280px) {
    .hero .hero-container h3 {
        font-size: 110px;
    }
}

@media (max-width: 1090px) {
    .hero .hero-container h3 {
        font-size: 100px;
    }
}

@media (max-width: 980px) {
    .hero .hero-container {
        padding: 200px 50px 200px 50px;
    }

    .hero .hero-container .main-text--hero span {
        font-size: 32px;
    }

    .hero .hero-container h3 {
        font-size: 80px;
    }

    .hero .hero-container .sub-text--hero span {
        font-size: 18px;
    }
}

@media (max-width: 750px) {
    .hero .hero-container .main-text--hero span {
        font-size: 28px;
    }

    .hero .hero-container .sub-text--hero span {
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    .hero .hero-container .main-text--hero span {
        font-size: 24px;
    }

    .hero .hero-container h3 {
        font-size: 60px;
    }

    .hero .hero-container .sub-text--hero span {
        font-size: 14px;
    }
}

/* Адаптация блока с предложениями */
@media (max-width: 949px) {
    .promo {
        padding: 50px 50px 50px 70px;
    }
}

@media (max-width: 869px) {
    .promo {
        padding: 50px 50px 50px 110px;
    }
}

@media (max-width: 752px) {
    .promo h2 {
        font-weight: 300;
        font-size: 20px;
    }
}


@media (max-width: 659px) {
    .promo h2 {
        font-weight: 300;
        font-size: 20px;
    }

    .promo {
        padding: 50px;
    }

    .promo .promo-container {
        display: grid;
        place-items: center;
    }
}

@media (max-width: 472px) {
    .promo h2 {
        font-size: 18px;
    }
}

/* Адаптация для блока с направлениями */
@media (max-width: 1090px) {
    .directions .directions-text .directions-text--sub p {
        color: rgb(54, 54, 54);
        font-size: 145px;
        font-weight: bold;
    }
}

@media (max-width: 980px) {
    .directions {
        padding: 50px 50px;
    }

    .directions .directions-text .top-spans {
        font-size: 26px;
    }

    .directions .directions-text .directions-text--sub p {
        color: rgb(54, 54, 54);
        font-size: 105px;
        font-weight: bold;
    }

    .directions .directions-text .directions-text--sub .directions-text--sub2 {
        margin-top: 0px;
        width: 300px;
    }

    .directions .directions-text .directions-text--sub .directions-text--sub2 span {
        font-size: 32px;
    }
}

@media (max-width: 740px) {
    .directions .directions-text .directions-text--sub p {
        font-size: 75px;
    }

    .directions .directions-text .top-spans {
        color: white;
        font-size: 20px;
    }

    .directions .directions-text .directions-text--sub .directions-text--sub2 span {
        font-size: 20px;
    }

    .directions .directions-text .directions-text--sub .directions-text--sub2 {
        margin-top: 15px;
    }
}

@media (max-width: 600px) {
    .directions .directions-container {
        display: grid;
        place-items: center;
    }

    .directions .directions-text .directions-text--sub .directions-text--sub2 {
        display: none;
    }
}