/* Стили для шапки сайта */
header .header-container {
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
}

header .header-container h1 {
    font-size: 26px;
    font-weight: 300;
    margin-top: 10px;
    color: white;
}


header .header-container .number svg,
header .header-container .booking svg, 
header .header-container .burger-menu svg{
    width: 28px;
    height: 28px;
    vertical-align: middle;
    padding-right: 5px;
}

header .header-container .number {
    margin-top: 10px;
}

header .header-container .number span { 
    vertical-align: middle;
    color: grey;
}

header .header-container .booking { 
    background-color: rgb(127, 21, 240);
    padding: 10px 25px;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    /* margin-top: -10px; */
}

header .header-container .booking a {
    text-decoration: none;
}

header .header-container .booking:hover {
    background-color: rgb(112, 18, 211);
}

header .header-container .booking span {
    color: white;
    font-size: 14px;
    font-size: 300;
    vertical-align: middle;
}

header .header-container .burger-menu {
    margin-top: 10px;
}

header .header-container .burger-menu svg {
    width: 38px;
    height: 38px;
    transition: 0.2s ease-in-out;
}

header .header-container .burger-menu svg:hover {
    transform: scale(1.1);
}

/* Стили для выпадающего меню бургер */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease-in-out;
    z-index: 999; 
}

.overlay.active {
    opacity: 0.8;
    visibility: visible;
}

.wrapper-burger-dropdown {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
    z-index: 999; 
    background-color: rgb(112, 18, 211);
    width: 370px;
}

.wrapper-burger-dropdown.active {
    opacity: 0.8;
    visibility: visible;
}

.burger-dropdown {
    background-color: rgb(112, 18, 211);
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: -10px 0px 15px rgba(0, 0, 0, 0.5);
    text-align: center;
    background-color: transparent;
}

.burger-dropdown .burger-dropdown-top {
    display: flex;
    justify-content: space-between;
}

.burger-dropdown .burger-dropdown-top svg {
    width: 22px;
    height: 22px;
    margin-top: 20px;
    margin-right: -30px;
    transition: 0.2s ease-in-out;
    fill: white;
}

.burger-dropdown .burger-dropdown-top svg:hover {
    transform: scale(1.1);
}

.burger-dropdown .burger-dropdown-top h1 {
    padding-top: 50px;
    padding-bottom: 40px;
    color: white;
    font-size: 28px;
    font-weight: 300;
    text-align: left;
}

.burger-dropdown a {
    display: block;
    padding-bottom: 25px;
    color: rgb(228, 228, 228);
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    transition: 0.1s ease-in-out;
    text-align: left;
}


.burger-dropdown a:hover {
    color: white;
}

.burger-dropdown .burger-dropdown--phone {
    display: flex;
    padding-top: 70px;
    background-color: black;
    padding: 10px 25px;
    border-radius: 15px;
    opacity: 1;
}

.burger-dropdown .burger-dropdown--phone svg {
    width: 24px;
    height: 24px;
    vertical-align: top;
    padding-right: 5px;
    margin-top: 2px;
}

.burger-dropdown .burger-dropdown--phone span {
    color: white;
    margin-top: 5px;
    font-size: 14px;
}

.burger-dropdown .adress {
    padding-top: 25px;
    padding-bottom: 50px;
}

.burger-dropdown .adress span {
    font-weight: 500;
    font-size: 16px;
    color: white;
}