/* Подключение шрифтов */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Базовы стили */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

img, svg {
    max-width: 100%;
}

button, a {
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

input, label {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

/* Стили для всплывающего окна */
.overlay-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    transition: visibility 0.3s ease-in-out;
    z-index: 1000;
}

.overlay-popup.active {
    visibility: visible;
}

.popup {
    background-image: linear-gradient(to right, rgb(77, 77, 77), rgb(77, 77, 77));
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px; 
    z-index: 1001; 
    padding: 50px 50px;
    visibility: hidden;
    transition: visibility 0.2s ease-in-out;
}

.popup.active {
    visibility: visible;
}

.popup .popup-container {
    display: flex;
}

.popup .popup-container .popup-text {
    width: 50%;
    padding-right: 25px;
}

.popup .popup-container .popup-text h2 {
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 10px;
    color: white;
}

.popup .popup-container .popup-text p {
    color: rgb(255, 247, 153);
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 15px;
}

.popup .popup-container .popup-text span {
    font-size: 10px;
    color: white;
    border-left: 2px solid rgb(112, 18, 211);
    padding-left: 10px;
}

.popup .cross {
    margin-top: -35px;
    margin-right: -35px;
}

.popup .cross svg {
    width: 20px;
    height: 20px;
    transition: 0.2s ease-in-out;
}

.popup .cross svg:hover {
    transform: scale(1.1);
}

.popup form {
    width: 49%;
    background-color: white;
    padding: 25px;
    border-radius: 15px;
}

.popup form input {
    background-color: #ddd;
    border: none;
    width: 95%;
    height: 40px;
    margin-bottom: 15px;
    padding-left: 10px;
    font-size: 14px;
    outline: none;
    color: black;
    border-radius: 3px;
}

.popup form button {
    background-color: rgb(112, 18, 211);
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px 0;
    color: white;
}

.popup form .alert {
    /* background-color: #d4edda; */
    width: 91.5%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 3px;
}

.popup form .success {
    background-color: #d4edda;
}

.popup form .success span {
    font-size: 12px;
}

.popup form .error {
    background-color: #f8d7da;
}

.popup form .error ul {
    list-style: none;
}

.popup form .error ul li {
    font-size: 12px;
}

/* Стили для блока Hero */
.hero {
    background-image: url("https://i.1.creatium.io/disk2/d2/b1/94/ee2ebeedbcd4c350fc227d92dd2ea08e7c/1918x1272q8/snimok_ekrana_2024_07_04_v_17_30_12.png");
    background-size: cover;
    height: 850px;
    margin-top: -110px;
    box-shadow: inset 0 0 2000px rgba(0, 0, 0, 0.9);
}

.hero .hero-container {
    padding: 200px 100px 200px 100px;
}

.hero .hero-container h2 {
    background-color: rgb(48, 148, 242);
    color: white;
    font-size: 12px;
    width: 150px;
    padding: 7px 12px;
    border-radius: 5px;
}

.hero .hero-container .main-text--hero {
    padding-top: 25px;
}

.hero .hero-container .main-text--hero span {
    display: block;
    color: white;
    font-size: 36px;
    font-weight: 400;
}

.hero .hero-container .main-text--hero span b {
    color: rgb(255, 247, 153);
    font-size: 36px;
    font-weight: 400;
}

.hero .hero-container h3 {
    font-size: 130px;
    font-weight: bold;
    background: url('https://i.1.creatium.io/40/07/57/845603c75b71700d13476f15362525c829/love77_kopiya.jpg') no-repeat center center;
    background-size: cover;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
}

.hero .hero-container .sub-text--hero {
    margin-top: 25px;
    border-left: 2px solid rgb(112, 18, 211);
    padding: 10px 0;
}

.hero .hero-container .sub-text--hero span {
    color: white;
    display: block;
    font-size: 20px;
    font-weight: 200;
    padding-left: 25px;
}

/* Стили для блока Promotions */
.promo {
    padding: 50px 100px;
}

.promo h2 {
    font-weight: 300;
}

.promo .promo-container {
    padding-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.promo .promo-container .block {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 250px;
    border-radius: 5px;
}

.promo .promo-container .block img {
    background-size: cover;
    width: 250px;
    border-radius: 5px;
}

.promo .promo-container .block .block-text {
    padding: 25px;
}

.promo .promo-container .block .block-text p {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(112, 18, 211);
}

.promo .promo-container .block .block-text .give_cart {
    display: flex;
    margin-top: 15px;
    background-color: rgb(127, 21, 240);
    border-radius: 10px;
    padding: 10px 0;
    transition: 0.2s ease-in-out;
}

.promo .promo-container .block .block-text .give_cart:hover {
    background-color: rgb(112, 18, 211);
}

.promo .promo-container .block .block-text .give_cart svg {
    width: 24px;
    height: 24px;
    margin-left: 33px;
}

.promo .promo-container .block .block-text .give_cart span {
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 2.5px;
}

/* Стили для секции с направлениями */
.directions {
    background-image: linear-gradient(to right, rgb(77, 77, 77), rgb(77, 77, 77));
    padding: 50px 100px;
}

.directions .directions-text .top-spans {
    color: white;
    font-size: 28px;
}

.directions .directions-text .directions-text--sub {
    display: flex;
}

.directions .directions-text .directions-text--sub p {
    color: rgb(54, 54, 54);
    font-size: 175px;
    font-weight: bold;
}

.directions .directions-text .directions-text--sub .directions-text--sub2 {
    width: 600px;
    margin-left: 25px;
    margin-top: 60px;
}

.directions .directions-text .directions-text--sub .directions-text--sub2 span {
    color: white;
    font-size: 36px;
    text-align: left;
}

.directions .directions-text .directions-text--sub .directions-text--sub2 .span-gold {
    color: rgb(255, 247, 153);
}

.directions .directions-container {
    padding-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}


.directions .directions-container .block {
    width: 250px;
    /* height: 550px; */
    background-color: white;
    border-radius: 5px;
    margin-bottom: 25px;
}

.directions .directions-container .block img {
    width: 250px;
    height: 250px;
    border-radius: 5px;
}

.directions .directions-container .block .block-text {
    padding: 25px;
    height: 170px;
}

.directions .directions-container .block .block-text h3 {
    font-weight: 400;
    border-bottom: 2px solid rgb(112, 18, 211);
    padding-bottom: 15px;
    text-align: center;
}

.directions .directions-container .block .block-text p {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #333;
    font-weight: 400;
    text-align: center;
}

.directions .directions-container .block .block-text span {
    text-align: left;
    color: #333;
    font-size: 12px;
}

.directions .directions-container .block  .give_cart {
    display: flex;
    margin-top: 25px;
    background-color: rgb(127, 21, 240);
    border-radius: 10px;
    padding: 10px 0;
    transition: 0.2s ease-in-out;
    margin: 25px 25px;
}

.directions .directions-container .block  .give_cart:hover {
    background-color: rgb(112, 18, 211);
}

.directions .directions-container .block  .give_cart svg {
    width: 24px;
    height: 24px;
    margin-left: 15px;
}

.directions .directions-container .block  .give_cart span {
    color: white;
    font-size: 10px;
    font-weight: 500;
    margin-left: 10px;
    margin-top: 5px;
}

/* Стили для промежуточного блока */
.intermediate {
    background-color: rgb(112, 18, 211);
    padding: 50px 100px;
    display: flex;
}

.intermediate .intermediate-text {
    width: 500px;
    padding-top: 55px;
}

.intermediate .intermediate-text h2 {
    color: white;
    font-weight: 400;
    font-size: 40px;
}

.intermediate .intermediate-text .intermediate-text-sub {
    width: 350px;
    padding-top: 25px;
}

.intermediate .intermediate-text .intermediate-text-sub span {
    font-weight: 300;
    font-size: 18px;
    color: white;
}

.intermediate img {
    margin-left: 150px;
    height: 350px;
    width: 550px;
    border-radius: 5px;
}